nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
.form-group
{
    /* dark background color */
    /*background-color: #3d3f42;*/

    /* light text color */
    /*color: #afb5bf;*/
}
body 
{
    /* light cyan background */
    /*background-color: rgba(0, 255, 255, 0.25);*/
}
main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;   

    /* light text color */
    /*color: #afb5bf;*/
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
main .val_error{
    color: #FF1F1F;
}
main .alert
{

    width: auto;
}
.lefties
{
    padding-right: 200px;
}
.lefties .less 
{
    padding-right: 100px;
}
.table 
{
    width: auto;
}
.bg-dark 
{
    width: auto;
}

div.tables
table, tr
{
    width: 100%;
    border: 1px solid black;
    text-align: left;

}
th, td
{
    padding: 15px;
    border: 1px solid #ddd;
}

