{% extends "layout.html" %}

{% block title %}
    Transaction history
{% endblock %}

{% block main %}
    <div main>
        <button class="btn btn-primary" type="button" id = "editbalance">Change starting balance</button>
        <form style = "display: none" id = "edit_balance" name ="edit_balance" action = "/edit_balance" method = "POST">
            <div class = "form-group" style = "padding-top: 10px">
                <p> New starting balance:
                    <input type = "number" step = "any" min = "0" id = "edit_balance_amount" name = "edit_balance_amount" placeholder = "Amount"></input>
                </p>
            <div class = "val_error" id = "editbalanceamount"></div>
            </div>
            <button class="btn btn-primary" type="submit">Change starting balance</button>
        </form>
        <div tables>
           <table style = "padding-top: 10px" align = "center">
                <h2>Financial history:</h2>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Time</th>
                </tr>
                {% for j in range(k) %}
                    <tr>
                        <td>{{ id_[j]['id'] }}</td>
                        <td>{{ type_[j]['type'] }}</td>
                        <td>{{ title[j]['title'] }}</td>
                        <td>{{ usd(amount[j]['amount']) }}</td>
                        <td>{{ time2[j]['time'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <form style = "padding-top: 10px" id = "manual_values" name ="manual_values" action = "/manual_values" method = "POST">
            <h2>Enter income/expense element manually</h2>
            <div class = "form-group">
               <p> Type: <select name = "manual_type" id = "manual_type" size = "2">
                    <option id = "manual_income" name = "manual_income" value = "income">Income</option>
                    <option id = "manual_expense" name = "manual_expense" value = "expense">Expense</option>
                </select>
               </p>
               <div id = "manualtype" class = "val_error"></div>
               <p> Title:
                   <input id = "manual_title" name = "manual_title" type = "text" placeholder = "title">
                   </input>
               </p>
               <div id = "manualtitle" class = "val_error"></div>
               <p> Amount:
                   <input id = "manual_amount" name = "manual_amount" type = "number" step = "any" min = "0" placeholder = "amount">
                   </input>
               </p>
               <div id = "manualamount" class = "val_error"></div>
            </div>
            <button class="btn btn-primary" type="submit">Enter element</button>
        </form>
        <p style ="padding-top: 10px">
            <button style = "margin-right: 10px" class="btn btn-primary" type="button" id = "edithist">Edit entry</button>
            <button class="btn btn-primary" type="button" id = "deletehist">Delete entry</button>
        </p>
        <form style = "display: none" id = "edit_hist" name ="edit_hist" action = "/edit_hist" method = "POST">
            <div class = "form-group" style = "padding-top: 10px">
                <h2>Edit income/expense entry</h2>
                <p>Entry ID:
                <input type = "number" id = "edit_hist_id" name = "edit_hist_id" placeholder = "ID"></input>
                </p>
                <div class = "val_error" id = "edithistid"></div>
                <p>New type:
                <select name = "edit_hist_type" id = "edit_hist_type" size = "2">
                    <option value = "income">Income</option>
                    <option value = "expense">Expense</option>
                </select>
                (optional)
                </p>
                <p>New title:
                <input type = "text" id = "edit_hist_title" name = "edit_hist_title" placeholder = "Title"></input>
                (optional)
                </p>
                <p>New amount:
                <input type = "number" placeholder = "Amount" step = "any" min = "0" id = "edit_hist_amount" name = "edit_hist_amount"></input>
                (optional)
                </p>
                <div class = "val_error" id = "edithistamount"></div>
            </div>
            <button class="btn btn-primary" type="submit">Edit entry</button>
        </form>
        <form style = "display: none" id = "delete_hist" name ="delete_hist" action = "/delete_hist" method = "POST">
            <div class = "form-group" style = "padding-top: 10px">
                <h2>Delete income/expense entry</h2>
                <p> Entry ID:
                <input type = "number" id = "delete_hist_id" name = "delete_hist_id" placeholder = "ID"></input>
                </p>
                <div class = "val_error" id = "deletehistid"></div>
            </div>
            <button class="btn btn-primary" type="submit">Delete entry</button>
            <p style ="padding-top: 10px">
                <h2>Alternatively, press this button to delete all entries:</h2>
                <p>Disclaimer: this deletes the account's transaction history and stock
                portfolio as well. The starting balance will be reset to the default value of
                {{usd(10000)}}. Please bear this in mind.</p>
                <button class="btn btn-primary" type="button" id = "deleteallhist">Delete all entries</button>
            </p>
            <div class = "form-group" style = "display: none" id = "delete_all_hist">
                <p>
                    <input type = "checkbox" id = "delete_all_check2" name = "check" value = "uncheck">
                    I wish to delete all input and expense entries</input>
                </p>
                <button class="btn btn-primary" type="submit">Delete all entries</button>
            </div>
        </form>
        <div style = "padding-top: 10px">
            <button class="btn btn-primary" type="button" id = "hidetransactions">Hide transaction history</button>
        </div>
        <div style = "padding-top: 10px">
            <button style = "display: none" class="btn btn-primary" type="button" id = "showtransactions">Show transaction history</button>
        </div>
        <div tables style = "overflow-x:auto" align = "center">
            <table  id = "transactions">
                <h2 style = "padding-top: 10px">Transaction history:</h2>
                <tr>
                    <th>Transaction</th>
                    <th>Stock</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Time</th>
                </tr>
                {% for l in range(i) %}
                    <tr>
                        <td>{{ transaction_type[l]['transaction_type'] }}</td>
                        <td>{{ stock[l]['stock'] }}</td>
                        <td>{{ shares[l]['shares'] }}</td>
                        <td>{{ usd(price[l]['price']) }}</td>
                        <td>{{ time[l]['time'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}