{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form id = "login" action="/login" method="post">
        <div class="form-group">
            <input id = "login_user" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required />
            <div id = "loginuser" class = "alert alert-danger"></div>
        </div>
        <div class="form-group">
            <input id = "login_pw" class="form-control" name="password" placeholder="Password" type="password" required />
            <div id = "loginpw" class = "alert alert-danger"></div>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
